.Details .content{
    display: flex;
}
.Details .content .text,
.Details .content .img {
    flex : 1;
    padding: 15px;
}

@media only screen and (max-width: 600px) {
    .Details .content {
        flex-direction: column;
    }

}